/* 重置&默认(reset&base)(tags) */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin: 0;padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset, img {border: medium none;}
address, caption, cite, code, dfn, em, th, var {font-style: normal;font-weight: normal;}
li {list-style: none outside none;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight:bold;}
q:before, q:after {content: "";}
abbr, acronym {border: medium none;font-variant: normal;}
i{font-style: normal;}
sup{vertical-align: text-top;}
sub{vertical-align: text-bottom;}
input, button, textarea, select {font-family: inherit;font-size: inherit;font-weight: inherit;outline: medium none;}
del, ins{text-decoration: line-through;}
small{font-size: 100%;}
body:first-of-type {position: relative;}
html{overflow-y:scroll;}
body, button, input, select, textarea {font: 12px/1.5 tahoma,arial,"\5B8B\4F53";}
table{font-size: inherit;}
body,legend {color: #333333;}
del{text-decoration: line-through;}
a,button{cursor:pointer;}
a{text-decoration:none;color:#333;outline:none;}
body{background-color:#fff;}

.m-slider {position: relative;}
.m-slider .m-show{position:relative;height:600px;width:1000px;padding: 10px;border:1px solid red;display: block;overflow: hidden;margin-top: 20px;}
.m-slider .m-show ul{position: absolute;}
.m-navigation .icon{position: absolute;}
.m-navigation .icon-backward{top:-20px;}
.m-navigation .icon-forward{bottom:-20px;}


